/* your styles go here */
section {
    padding: 25px 0;
}
.card{
    margin-bottom: 0;
}
.alert-list{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    font-size: 13px;
    z-index: 900;
}
.alert-list .alert {
    padding: 10px;
}
.timetable aside{
    width: 160px;
}
.timetable section{
    width: calc(100% - 160px);
}
form#persoInfo input.form-control{
    background: transparent;
    border-color: transparent;
}

form#persoInfo input.form-control:focus{
    border-color: #e6e6e6;
}
form#persoInfo .form-control-label{
    padding: 10px 15px;
}
form#persoInfo .modulelist{
    padding: 5px 0;
}
form#persoInfo .modulelist li {
    padding: 5px 15px;
    background-color: #796AEE;
    color: white;
    margin-right: 5px;
    border-radius: 30px;
}
form#persoInfo .display{
    padding: 10px 20px;
}
.text-white .text small{
    color: white;
}
.statistic {
    padding: 10px 15px;
}
.changecrs {
    cursor: pointer;
}
